html,
body {
  background: url('header.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
.intro {
  display: flex;
  height: 200px;
}
/* img-fluid .jumbotron {
  background: none;
} */

.card-img-top {
  height: 75px;
}
.card-group {
  display: flex;
  height: 90px;
  width: 600px;
}
.card {
  height: 30px;
}
/* .display-4 {
  color: white;
  text-transform: capitalize;
  text-shadow: 5px 3px red;
}

p {
  color: black;
  font-size: 30px;
  margin-top: 4em;
} */
/* .card {
} */

/* .btn {
  background-color: rgb(0, 217, 255);
}

.btn2 {
  background-color: rgb(137, 43, 226);
}

.btn3 {
  background-color: fuchsia;
} */

/* .btn-primary: hover {
  background-color: yellow;
}
.white {
  color: white;
} */
